.nav {
    list-style-type: none;
    background-color: rgb(222, 222, 222);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100%;
}

.nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.navUl li a{
    margin-right: 20px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
    font-weight: 500;
    
}

.nav ul a:hover {
    color: rgb(40, 135, 135);
}
.navLogo{
    width: 50px;
    margin: 10px;
}
