.countContainer{
    height: 250px;
    width: 300px;
    background-color: rgb(250, 250, 250);
    display: inline-block;
}



.counter button{
    margin: 20px;
    background-color: rgb(223, 235, 243);
    border: none;
    padding: 0px 5px 0px 5px;
    border-radius: 10px;
    font-size: 20px;
    border: solid 1px rgb(190, 207, 217);


}

.counter button:hover{
    background-color: rgb(180, 197, 209);
}

.counter span {
    margin-top: 30px;
    font-size: 20px;
}

.addButton{
    margin: 30px;
}